$frontendHeader: 56px;

main {
  &.frontend {
    margin-top: $frontendHeader;
    padding: 0;
    color: $gray-900;
    background-color: $gray-100;
    min-height: calc(100vh - ($frontendHeader + 142px));
    [class*='_page'] {
      padding-bottom: 16px;
    }
  }
}
