$borderRadius: 18px;
.cart {
  &_page {
    padding: 16px 0;
    .form-check {
      display: flex;
    }
    &-checkout {
      .checkout {
        &-from {
          padding-top: 16px;
        }
        &-body,
        &-footer {
          padding: 0 16px;
          min-height: auto;
        }
        &-list {
          @include media-breakpoint-down(lg) {
            border-radius: 18px;
            padding: 0 0 16px;
            overflow: hidden;
          }
          &-head {
            @include media-breakpoint-down(lg) {
              cursor: pointer;
              margin-bottom: 16px;
              padding: 16px;
              color: $white;
              background-color: $primary;
            }
          }
        }
      }
      .row + .row {
        @include media-breakpoint-down(lg) {
          .col-md-12 {
            order: 2;
            margin-top: 16px;
          }
          .col-md-12 + .col-md-12 {
            order: 1;
          }
        }
      }
    }
  }
}
.checkout {
  &-list {
    .btn {
      i {
        color: $white;
        font-weight: 500;
        transition: all 0.5s;
      }
    }
    &.collapsed {
      @include media-breakpoint-down(lg) {
        .checkout {
          &-info-card {
            opacity: 0;
            height: 0px;
            visibility: hidden;
            transition: all 0.35s;
          }
        }
        .btn {
          i {
            display: flex;
            transform: rotate(0deg);
          }
        }
      }
    }
    &.expand {
      .btn {
        i {
          display: flex;
          transform: rotate(-180deg);
        }
      }
      .checkout {
        &-info-card {
          opacity: 1;
          height: 100%;
          visibility: visible;
          transition: all 0.35s;
        }
      }
    }
    &-head {
      display: flex;
      justify-content: space-between;
      .btn {
        display: none;
        @include media-breakpoint-down(lg) {
          display: block;
        }
      }
      .fw-bold {
        margin-bottom: 0;
        line-height: 1.5;
      }
    }
  }
  &-notState {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    color: $gray-700;
    &-icon {
      margin-right: 16px;
      i {
        font-size: 24px;
      }
    }
  }
  &-list {
    border-radius: $borderRadius;
    border: 1px solid $primary;
    padding: 16px;
    @include media-breakpoint-down(md) {
      min-height: auto;
    }
  }
  &-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-body {
    color: $gray-600;
    min-height: 200px;
    @include media-breakpoint-down(md) {
      min-height: auto;
    }
  }
  &-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    max-height: 120px;
    @include media-breakpoint-down(md) {
      max-height: inherit;
    }
  }
  &-item {
    display: flex;
    justify-content: space-between;
    &-total {
      margin: 16px 0;
      padding-top: 16px;
      font-size: $h4-font-size;
      font-weight: 600;
      border-top: 2px solid $primary;
    }
  }
  &-item-total {
    margin-bottom: 0;
  }
  &-couponInfo {
    display: flex;
    align-items: center;
    > span {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      width: 28px;
      height: 28px;
      margin-right: 8px;
      border-radius: 100%;
    }
  }
  &-title {
    font-weight: 600;
  }
  &-title,
  &-content {
    padding: 4px;
  }
}
