$borderRadius: 18px;
.checkout {
  &-card {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    border-radius: $borderRadius;
    border: 0.5px solid $primary;
    background-color: $white;
    &:first-child {
      margin-top: 0;
    }
    &.checkout {
      &-tool {
        margin: 16px 0;
        box-shadow: 0px 0 9px $gray-300;
      }
    }
  }
  &-tool {
    .card {
      &-inputStepper {
        .inputStepper:not(.inputStepper-edit) {
          max-width: 200px;
        }
      }
      &-image {
        width: 120px;
        height: 120px;
        > .card-btn {
          display: none;
        }
      }
      &-title {
        padding-right: 72px;
        font-size: 16px;
        @include media-breakpoint-down(md) {
          text-align: center;
          padding-right: 40px;
        }
      }
      &-total {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
        padding-right: 8px;
        @include media-breakpoint-down(md) {
          padding: 0;
          width: 100%;
          align-items: center;
        }
        &-title {
          width: 60px;
          text-align: right;
          margin-right: 8px;
        }
      }
      &-content {
        justify-content: flex-end;
        @include media-breakpoint-down(md) {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }
  }

  .card {
    &-code {
      display: flex;
      align-items: flex-start;
      margin-top: 8px;
      width: 100%;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
      &-text {
        color: $primary;
        width: calc(100% - 100px);
      }
      &-tag {
        margin-right: 8px;
        padding: 0 4px;
        font-size: 14px;
        color: $white;
        border-radius: 4px;
        background-color: $primary;
      }
    }
    &-toolBar {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: flex-start;
      + .card {
        &-checkInfo {
          display: none;
          @include media-breakpoint-down(md) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 8px 16px 16px 16px;
          }
        }
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      @include media-breakpoint-down(md) {
        flex-direction: column;
        align-items: flex-start;
      }
      + .card {
        &-checkInfo {
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }
    }
    &-checkInfo {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      margin-top: 4px;
      @include media-breakpoint-down(md) {
        align-items: flex-end;
        margin-top: 8px;
        border-top: 1px solid $gray-300;
      }
    }
    &-total {
      display: flex;
      justify-content: space-between;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
    }
    &-title {
      font-size: 18px;
      margin-bottom: 8px;
      @include text-line-truncate(2, 100%, auto, 1.5);
    }
    &-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      position: relative;
      margin-left: 16px;
      padding: 8px 16px 8px 0;
      width: calc(100% - 800px);
      @include media-breakpoint-down(md) {
        padding-left: 16px;
        margin-left: 0px;
      }
    }
    &-info {
      .card {
        &-btn {
          top: 4px;
          left: auto;
          right: 8px;
        }
      }
    }
    &-image {
      position: relative;
      width: 150px;
      overflow: hidden;
      border-radius: $borderRadius 4px 4px $borderRadius;
      flex-shrink: 0;
      @include media-breakpoint-down(md) {
        width: 100px;
      }
      .img_box {
        padding-bottom: 100%;
        @include media-breakpoint-down(md) {
          padding-bottom: 100%;
        }
      }
    }
    &-image & {
      &-btn {
        left: 0;
        border-radius: $borderRadius 0;
      }
    }
    &-btn {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      i {
        font-size: 14px;
        font-weight: 600;
      }
    }
    &-inputStepper {
      @include media-breakpoint-down(sm) {
        display: flex;
        width: 100%;
      }
      .inputStepper.rounded {
        @include media-breakpoint-down(md) {
          max-width: 100%;
        }
      }
    }
    &-price {
      display: flex;
      white-space: nowrap;
      margin-top: 4px;
      color: $gray-600;
      @include media-breakpoint-down(md) {
        margin-top: 8px;
        min-width: 150px;
      }
      @include media-breakpoint-down(sm) {
        &:first-child {
          margin-top: 0;
        }
      }

      &-total {
        color: $gray-500;
        font-weight: 500;
        text-decoration-line: line-through;
      }
      &-code {
        text-decoration-line: unset;
        color: $danger;
      }
    }
  }
}
