@mixin text-line-truncate($line-value, $width, $height, $lineHeight) {
  display: -webkit-box;
  -webkit-line-clamp: $line-value;
  -webkit-box-orient: vertical;
  width: $width;
  height: $height;
  line-height: $lineHeight;
  overflow: hidden;
}

@mixin text-one-line-truncate($width, $height, $lineHeight) {
  width: $width;
  height: $height;
  line-height: $lineHeight;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
