.order {
  &_page {
    padding: 16px 0;
    .accordion-button {
      &-danger {
        background-color: rgba($primary, 0.2);
        > a {
          color: $danger;
        }
      }
      span {
        display: flex;
        justify-content: flex-end;
        min-width: 74px;
        i {
          margin-right: 4px;
        }
      }
    }
    .list-group-item {
      &-id {
        font-weight: 800;
      }
    }
  }
  &-prod {
    display: flex;
    & + & {
      margin-top: 8px;
    }
    &-qty {
      margin-left: 32px;
      min-width: 120px;
      color: $gray-600;
    }
    &-note {
      padding: 2px 6px;
      font-size: 14px;
      color: $white;
      border-radius: 6px;
      background-color: $primary;
    }
    &-title {
      width: calc(100% - 120px);
    }
  }
}
