.detail {
  &_page {
    padding: 1rem 0;
    @include media-breakpoint-down(md) {
      padding: 4px 0;
    }
    .carousel {
      height: 500px;
      @include media-breakpoint-down(md) {
        max-height: 300px;
      }
    }
    h2 {
      @include text-line-truncate(4, 100%, auto, 1.5);
      margin: 32px 0 60px;
    }
    .container-fluid {
      .row + .row {
        margin-top: 32px;
      }
    }
  }
  &-carouselBox {
    overflow-x: auto;
    .carouselBox {
      display: flex;
      .prods {
        min-width: 200px;
        max-width: 200px;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
