.user {
  &_page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 24px;
  }
  &-body {
    padding: 16px;
  }
  &-tool {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
  }
  &-box {
    margin: 72px 0;
    width: 100%;
    max-width: 500px;
    padding: 24px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 1px 1px 12px 0 #ccc;
  }
}
